.home{
display: flex;
justify-content: center;
margin: auto;

 
}

.home_image{
    width: 100%;
    z-index: -1 ;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, black, transparent);
}

.home_row{
    display: flex;
    margin: 0px 5px 0px 5px;
    z-index: 1;
}


@media only screen and (max-width: 600px){

    .responsive-home{
        flex-wrap: wrap;
    }

    .home_row{
        margin: 0px;
    }

    .home_image{
        display: none;
    }
}

 