.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;                               /* used to shift elements to the right on smaller screens  */
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
  
}

.product_info{
    height: 100px;
    margin-bottom: 15px;
}

.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;    
}

.product > button{
    background-color: #f0c14b;
    border: 1px solid  #a88734;
    margin-top: 10px;
    color: black;
    cursor: pointer;
    


}

.product_price{
    margin-top: 5px;
}

.product_rating{
    display: flex;
}

.currency-size{
    font-size: 12px;
}

@media only screen and (max-width: 600px){
    
    .product{
        margin: 0px;
    }
}